.text-shadow {
    text-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5)
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
    color: #DCCCA3;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

/* Footer */
.page-footer {
    background-color: #5A6165;
    border-top: 2px solid #DCCCA3;
    color: #090446;
}

.footer-title {
    font-family: "Fredoka One", cursive;
    color: #B4FFC8;
}

/* Navbar Styling */
.nav-wrapper {
    background-color: #5A6165;
}