{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Recipe</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <!-- Cuisine selection -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <select id="cuisine_name" name="cuisine_name" class="validate" required>
                        <option value="" disabled selected>Choose Cuisine</option>
                        {% for cuisine in cuisines %}
                            <option value="{{ cuisine.cuisine_name }}">{{ cuisine.cuisine_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="cuisine_name">Recipe Cuisine</label>
                </div>
            </div>
            <!-- Recipe Name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
             <!-- Ingredients -->
             <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                    <textarea placeholder="e.g. 50g of cheese, 20g of mince lamb, 95g of white flour dough"  id="recipe_ingredients" name="recipe_ingredients" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="recipe_ingredients">Ingredients</label>
                </div>
            </div>
            <!-- Vegetarian toggle -->
            <div class="row">
                <div class="input-field col s12">
                    <div class="switch">
                        <i class="fas fa-exclamation-circle prefix light-blue-text text-darken-4"></i>
                        <label for="is_vegetarian">
                            <input type="checkbox" id="is_vegetarian" name="is_vegetarian">
                            <span class="lever"></span>
                            Is Vegetarian
                        </label>
                    </div>
                </div>
            </div>
             <!-- Serves -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-solid fa-person prefix light-blue-text text-darken-4"></i>
                    <input id="recipe_serves" name="recipe_serves" type="number" class="validate" min="1" max="200" required>
                    <label for="recipe_serves">Recipe Serves</label>
                </div>
            </div>
            <!-- Recipe cooking instructions -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-solid fa-link prefix light-blue-text text-darken-4"></i>
                    <textarea placeholder="https://www.bbc.co.uk/news"  id="recipe_url" name="recipe_url"
                        maxlength="80" class="materialize-textarea validate" required></textarea>
                    <label for="recipe_url">Recipe Cooking Instructions Link</label>
                </div>
            </div>