{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h2 class="center-align">Welcome, {{ username }}!</h2>
                <h5 class="center-align">You are now logged in. Have a look at new recipes!</h5>
                <p>Click on the home button to view recipes added by others users. Feeling creative? Why not upload your own recipe!</p>
            </div>
        </div>
    </div>
    
{% endblock %}